@tailwind base;
@tailwind components;
@tailwind utilities;


#root, html, body{
    width: 99.5%;
    height: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}